.botao-add{
   background: url("../../img/add_row_icon.gif") no-repeat scroll 0 0;
   border:0;
   cursor: pointer;
   display: block;
   height: 16px;
   margin-right:5px;
   text-indent: -99999px;
   width: 16px;
}
.botao-del{
   background: url("../../img/delete_row_icon.gif") no-repeat scroll 0 0;
   border:0;
   cursor: pointer;
   display: block;
   height: 16px;
   margin-left:5px;
   text-indent: -99999px;
   width: 16px;
}